.article-div {
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 23px;

  border: solid black 1px;
  border-radius: 8px;
  background: #eee;
}

.article-div .title {
  color: #f43232;
  font-size: 60px;
  font-weight: 700;
}

.text {
  font-size: 26px;
}

.article-div .btn {
  margin-top: 20px;
  padding: 20px;

  border: 0;
  border-radius: 8px;

  background: #f43232;
  color: #fff;

  font-size: 40px;
}
