.header {
  width: 100vw;
  background-color: rgba(244, 50, 50, 1);
}

.header-content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 30px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
